<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.url }}/">Overview</a>
  </li>
  <li class="{% if page.url contains '/GalSim/' %}current{% endif %}">
    <a href="{{ site.url }}/GalSim/home/">GalSim</a>
  </li>
  <li class="{% if page.url contains '/GettingStarted/' %}current{% endif %}">
    <a href="{{ site.url }}/GettingStarted/home/">Getting Started</a>
  </li>
  <li class="{% if page.url contains '/results/' %}current{% endif %}">
    <a href="{{ site.url }}/results/analytic/">Results</a>
  </li>
  <li class="">
    <a href="{{ site.repository }}"><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li>
</ul>
